In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.models import Model
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from keras.optimizers import RMSprop
from keras.preprocessing.text import Tokenizer
from keras_preprocessing import sequence
from keras.utils import to_categorical
from keras.models import load_model

In [4]:
df = pd.read_csv(r'/content/spam.csv',delimiter=',',encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True) #dropping unwanted columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [6]:
df.groupby(['v1']).size()

v1
ham     4825
spam     747
dtype: int64

In [7]:
X = df.v2
Y = df.v1
le = LabelEncoder()
Y = le.fit_transform(Y)
Y = Y.reshape(-1,1)

In [8]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.15)

In [9]:
max_words = 1000
max_len = 150
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(X_train)
sequences = tok.texts_to_sequences(X_train)

sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)

In [10]:
# Creating LSTM model
inputs = Input(name='InputLayer',shape=[max_len])
layer = Embedding(max_words,50,input_length=max_len)(inputs)
layer = LSTM(64)(layer)
layer = Dense(256,name='FullyConnectedLayer1')(layer)
layer = Activation('relu')(layer)
layer = Dropout(0.5)(layer)
layer = Dense(1,name='OutputLayer')(layer)
layer = Activation('sigmoid')(layer)

In [11]:
model = Model(inputs=inputs,outputs=layer)
model.summary()
model.compile(loss='binary_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 InputLayer (InputLayer)     [(None, 150)]             0

 embedding (Embedding)       (None, 150, 50)           50000

 lstm (LSTM)                 (None, 64)                29440

 FullyConnectedLayer1 (Dense  (None, 256)              16640
 )

 activation (Activation)     (None, 256)               0

 dropout (Dropout)           (None, 256)               0

 OutputLayer (Dense)         (None, 1)                 257

 activation_1 (Activation)   (None, 1)                 0

=================================================================
Total params: 96,337
Trainable params: 96,337
Non-trainable params: 0
_________________________________________________________________

In [12]:
model.fit(sequences_matrix,Y_train,batch_size=128,epochs=10,
          validation_split=0.2)

Epoch 1/10
30/30 [==============================] - 15s 357ms/step - loss: 0.3253 - accuracy: 0.8706 - val_loss: 0.1407 - val_accuracy: 0.9515
Epoch 2/10
30/30 [==============================] - 9s 310ms/step - loss: 0.0814 - accuracy: 0.9768 - val_loss: 0.0576 - val_accuracy: 0.9810
Epoch 3/10
30/30 [==============================] - 16s 526ms/step - loss: 0.0394 - accuracy: 0.9868 - val_loss: 0.0606 - val_accuracy: 0.9831
Epoch 4/10
30/30 [==============================] - 12s 388ms/step - loss: 0.0287 - accuracy: 0.9908 - val_loss: 0.0591 - val_accuracy: 0.9842
Epoch 5/10
30/30 [==============================] - 8s 266ms/step - loss: 0.0213 - accuracy: 0.9942 - val_loss: 0.0607 - val_accuracy: 0.9831
Epoch 6/10
30/30 [==============================] - 8s 269ms/step - loss: 0.0187 - accuracy: 0.9947 - val_loss: 0.0770 - val_accuracy: 0.9842
Epoch 7/10
30/30 [==============================] - 8s 270ms/step - loss: 0.0127 - accuracy: 0.9966 - val_loss: 0.0868 - val_accuracy: 0.9842
Epoch 8/10
30/30 [==============================] - 8s 269ms/step - loss: 0.0090 - accuracy: 0.9979 - val_loss: 0.0846 - val_accuracy: 0.9842
Epoch 9/10
30/30 [==============================] - 8s 270ms/step - loss: 0.0084 - accuracy: 0.9974 - val_loss: 0.0938 - val_accuracy: 0.9842
Epoch 10/10
30/30 [==============================] - 8s 269ms/step - loss: 0.0054 - accuracy: 0.9987 - val_loss: 0.0995 - val_accuracy: 0.9842

In [13]:
model.save("model_1")

WARNING:absl:Function `_wrapped_model` contains input name(s) InputLayer with unsupported characters which will be renamed to inputlayer in the SavedModel.
WARNING:absl:Found untraced functions such as lstm_cell_layer_call_fn, lstm_cell_layer_call_and_return_conditional_losses while saving (showing 2 of 2). These functions will not be directly callable after loading.

In [14]:
test_sequences = tok.texts_to_sequences(X_test)
test_sequences_matrix  = sequence.pad_sequences(test_sequences,maxlen=max_len)
accuracy = model.evaluate(test_sequences_matrix,Y_test)
print('Accuracy: {:0.3f}'.format(accuracy[1]))

27/27 [==============================] - 1s 23ms/step - loss: 0.1025 - accuracy: 0.9821
Accuracy: 0.982

In [15]:
y_pred = model.predict(test_sequences_matrix)
print(y_pred[25:40].round(3))

27/27 [==============================] - 1s 24ms/step
[[0.   ]
 [0.   ]
 [0.001]
 [0.004]
 [0.   ]
 [0.   ]
 [0.   ]
 [0.   ]
 [0.   ]
 [0.   ]
 [0.001]
 [0.001]
 [0.   ]
 [0.   ]
 [0.   ]]

In [16]:
print(Y_test[25:40])

[[0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]]